<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>VGG Demo: Keypoint Detector</title>
  <link rel="stylesheet" type="text/css" href="http://www.robots.ox.ac.uk/~vgg/css/vggcss.css" media="all">
  <link rel="stylesheet" type="text/css" href="static/css/webdemo.css" media="all">
  <script type="text/javascript" src="static/js/jquery-1.12.2.min.js"></script>
</head>
<body>

<!-- VGG Website Header -->
<div id="vgg_header">
  <table style="width:100%;">
  <tr>
    <td>
      <div style="font-size:30px; font-weight: bold; letter-spacing: 0.2em;">
      <a href="http://www.robots.ox.ac.uk/~vgg/">Visual Geometry Group</a>
      </div>
      <div style="font-size:15px; font-weight:bold; color:white;">
      Department of Engineering Science, University of Oxford
      </div>
    </td>
    <td style="width: 50%">
      <img style="float:right;width:225px;" src="http://www.robots.ox.ac.uk/~vgg/css/oxlogo_transparent.png"/>
    </td>
  </tr>
  </table>
</div>

<div id="webdemo_main">
  <div id="webdemo_title"><a href="http://zeus.robots.ox.ac.uk/keypoint/">Keypoint Detection</a></div>
  <div id="webdemo_version"><a href="changelog" target="_new">version {{ model_version }}</a></div>
</div>

<!-- actual content below: -->
{% block content %} {% endblock %}
</body>
</html>


