{% extends "base.html" %}  
<!-- main -->
{% block content %}

<script type="text/javascript" src="static/js/my.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84656248-1', 'auto');
  ga('set', 'page', '/keypoint/index.html');
  ga('send', 'pageview');
</script>

<form id="query_form" action="index/" method="post" enctype="multipart/form-data">
  <div id="dropim">
    <div id="upload_msg">Click or drop an image to upload</div>
    <input type="file" id="fileinput"  size = '50' name="filef"  accept="image/png,image/jpeg" style="width: 100%; height: 100%; " />
  </div>
  <div id="text_url" style="position:relative;" align="center">
    <div id="urlinput">
      <input type="text" id="urlfield" name="urlf" placeholder="or, enter an image URL" autocomplete="off" spellcheck="false" />
    </div>
    <div class="bttn">
      <a id="cancel_btn">&#10005</a> 
    </div>
    <div id="go_btn_div" class="bttn" style="display: none;">
      <a id="go_btn">Go</a> 
    </div>
    <div id="spinner" style="display: none;">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</form>

<div id="webdemo_samples" align="center">
  <div id="header">Sample images (some <a href="https://www.google.com/search?biw=1855&bih=983&tbm=isch&sa=1&q=person+full+body+standing&oq=person+full+body+standing" target="_new">more</a>)</div>
  <a href="result-im=DVY9MHL9GG8OAI2HPE7D.jpg"><img src="static/images/sample1.jpg" /></a>
  <a href="result-im=VFF3JF1PWSWZH2W1QN4I.jpg"><img src="static/images/sample2.jpg" /></a>
  <a href="result-im=EMPHQK9MEHSC9Q4SAYG8.jpg"><img src="static/images/sample3.jpg" /></a>
</div>

<div id="webdemo_description">
This web demo uses a model based on convolution neural network to automatically detect keypoints in a photograph of a human body. More details are available <a target="_new" href="http://www.robots.ox.ac.uk/~vgg/software/keypoint_detection/">here</a>.
</div>


{% endblock %}
