{% extends "base.html" %}  
<!-- main -->
{% block content %}
  <script>
    var imsrc = 'im/{{ imname }}';
    var jsonsrc = 'json-res/{{ jsonname }}';
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84656248-1', 'auto');
    ga('set', 'page', '/keypoint/show_result.html');
    ga('send', 'pageview');
  </script>

  <p align="center">
    <span id="webdemo_keypoint_annotation"></span>
    <canvas id="result_canvas">
    The results cannot be displayed because your browser does not support HTML5 Canvas functionality.
    </canvas>
    <div id="webdemo_annotation_text">Click on the image annotation to get details</div>
  </p>

  <div id="webdemo_download_annotation">
    Download keypoint annotation as <a href='json-download/{{ jsonname }}'>json</a> or <a href='csv-download/{{ csvname }}'>csv</a> file.
  </div>

  <script type="text/javascript" src="static/js/keypoint_detection_result.js"></script>
{% endblock %}
